[Unit]
Description=Monitoring suite for wdln hardware
Requires=dln-sysmon.service

[Timer]
Unit=dln-sysmon.service
OnActiveSec=0
OnUnitActiveSec=1
AccuracySec=250msec

[Install]
WantedBy=default.target
