<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.takchat.plugin"
    android:versionCode="1"
    android:versionName="DEV" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"

        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="com.atakmap.app@3.6.1.civ"/>

        <service
            android:name="com.atakmap.android.takchat.notification.TAKNotificationService"
            android:label="TAK Chat Notification Service">

            <intent-filter>
                <action android:name="com.atakmap.android.takchat.notification.TAKNotificationService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
