<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.atsk.plugin"
    android:versionCode="1"
    android:versionName="DEV" >

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application 
        android:allowBackup="false"
        android:icon="@drawable/atsk_plugin"
        android:label="ATSK Tool"
        android:description="@string/app_desc"
        android:theme="@style/ATAKPluginTheme" >
         <meta-data android:name="plugin-api" android:value="com.atakmap.app@3.6.1.civ"/>

        <service
            android:name="com.gmeci.atsk.PDFWriterService"
            android:label="PDF Writer">
            <intent-filter>
                <action android:name="com.gmeci.atsk.PDFWriterService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
