<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.plugintemplate.plugin"
    android:versionCode="1"
    android:versionName="DEV" >

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="19" />

    <application 
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Plugin Template"
        android:description="@string/app_desc"

        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="com.atakmap.app@3.6.1.civ"/>

    </application>

</manifest>
