<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gmeci.atskservice"
          android:versionCode="1"
          android:versionName="DEV">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name="com.partech.acra.BasicApplication"
        android:allowBackup="true"
        android:icon="@drawable/atsk_service"

        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gmeci.atskservice.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="PdfSaver"
                  android:configChanges="orientation|keyboardHidden"
                  android:icon="@drawable/pdf_icon"
                  android:label="Save my PDF">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>



        <provider
            android:name=".databases.ObstructionProvider"
            android:authorities="com.gmeci.atskservice.databases.ObstructionProvider"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.gmeci.atskservice.databases.AZProvider"
            android:authorities="com.gmeci.atskservice.databases.AZProvider"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.gmeci.atskservice.databases.GradientProvider"
            android:authorities="com.gmeci.atskservice.databases.GradientProvider"
            android:exported="true" >
        </provider>

        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.FARPForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="FARP Remarks"/>
        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.DZForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="DZ Remarks"/>
        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.HLZForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="HLZ Remarks"/>
        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.LZForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="LZ Remarks"/>
        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.LTFWLZForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="LTFW LZ Remarks"/>
        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.STOLForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="STOL Remarks"/>
        <activity
            android:exported="true"
            android:name="com.gmeci.atskservice.form.ImageForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="Gallery PDF Export"/>




        <activity
            android:exported="true"
            android:name="com.gmeci.hardware.HardwareActivity"
            android:label="Hardware Management"/>


        <activity
            android:label="R8/R10 Device Handler"
            android:exported="true"
            android:name="com.gmeci.hardware.usb.UsbEventReceiverActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>




        <service
            android:name="com.gmeci.hardware.HardwareService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.gmeci.hardwareinterfaces.ParserInterface"/>
                <action android:name="com.gmeci.bluetooth"/>
            </intent-filter>
        </service>
        <service
            android:name="com.gmeci.hardware.parsers.NMEAParser"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.gmeci.hardwareinterfaces.ParserInterface"/>
                <action android:name="com.gmeci.parseStreamingDataForGPSLRF"/>
            </intent-filter>
        </service>
        <receiver android:name="com.gmeci.hardware.bluetooth.NotificationTouchReceiver">
            <intent-filter>
                <action android:name="gmeci.com.bt_enotification_pressed"/>
            </intent-filter>
        </receiver>

        <receiver android:name="android.app.admin.DeviceAdminReceiver"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                    android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
