<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.helloworld.plugin"
    android:versionCode="1"
    android:versionName="DEV" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />

    <application 
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="com.atakmap.app@3.6.1.civ"/>

  
        <provider android:name="com.javacodegeeks.android.contentprovidertest.BirthProvider"
            android:authorities="com.javacodegeeks.provider.Birthday">
        </provider>

        <service
            android:name="com.atakmap.android.helloworld.notification.NotificationService"
            android:label="Plugin Notification Service">

            <intent-filter>
                <action android:name="com.atakmap.android.helloworld.notification.NotificationService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
