<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.elevation.dsm.plugin"
    android:versionCode="1"
    android:versionName="DEV" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <application 
        android:allowBackup="false"
        android:icon="@drawable/elevation"
        android:label="DSM Manager"
        android:description="@string/app_desc"
        android:theme="@style/ATAKPluginTheme" >
        <meta-data android:name="plugin-api" android:value="com.atakmap.app@3.6.1.civ"/>

    </application>
</manifest>
